body {
    background-color: brown;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 30px;
}

img {
    height: 200px;
    width: 250px;
}

button {
    background-color: white;
    color: blue;

}

h3 {
    text-align: none;
    color: blue;
    font-size: x-large;


}

.boo {
    background-color: lightcoral;
}

h1 {
    text-align: none;
    color: aqua;

}